<ion-view>

    <ion-content class="has-header">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>

        <div class="list">
            <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark" ng-repeat="transaction in transactions" ng-click="showTransaction(transaction)">
                <img src="./img/food-icon.png">

                <h2>{{ transaction.merchant }}</h2>
                <p>$ {{ transaction.amount / 10000 | number:2 }}</p>
                <i class="icon ion-stats-bars muted"></i>
            </a>
        </div>
        <a class="button" href="#" ng-click="logout()">Logout</a>
    </ion-content>

</ion-view>
