<ion-view>

    <div class="content has-header recurring ionic">
        <div class="hero has-mask" style="background-image: url('./img/fastfood.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('./img/food-icon.png');"></div>
                <h3><a class="light">{{ currentTransaction.merchant }}</a></h3>
                <h4>{{ currentTransaction.categorization }}</h4>
            </div>
        </div>

        <div class="spending-bar">
            You spent <span class="amount">$132</span> in the last <span class="timerange">3 months</span>
        </div>

        <div class="content">
            <ion-toggle ng-model="isRecurring" >This is a recurring spending</ion-toggle>
        </div>
        <div class="is-recurring content padding" ng-show="isRecurring">
            <!-- Frequency select -->
            <div class="frequency-container" name="frequency-container">
                <span>I go there</span>
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option selected>5</option>
                </select>
                <span>time(s) per</span>
            </div>

            <!-- Time interval radio options -->
            <div class="interval-container">
                <ion-radio ng-repeat="item in intervalList" ng-value="item.value" name="interval-radio" ng-model="defaultInterval">
                    {{item.text}}
                </ion-radio>

                <br>
                
                <a class="show-savings button icon icon-right ion-chevron-right" href="#" ng-click="showSavings()">Calculate</a>
            </div>
        </div>
    </div>
</ion-view>
