<ion-view>
    <ion-content class="has-header">
        <div class="list condensed-space no-padding animate-blinds">
            <div class="card dark-bg" ng-repeat="projection in projections">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                    <h2>{{projection.frequency}} times a {{ projection.time_period}}</h2>
                    <p>Save up to <strong class="amount">$ {{ projection.saving / 100000| number:0 }}</strong></p>
                    <img src="./img/toronto.jpg">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
