<ion-view>
    <ion-content class="has-header spending">
        <div class="hero has-mask" style="background-image: url('./img/money-bed.jpg');">
            <div class="content">
                <h3>You would spend like <br/><span class="amount">$ {{ spending / 100000 * -1| number:0 }}</span>
                </h3>
                <h4>over the next 10 years!</h4>
            </div>
        </div>


        <div class="content padding">
            <div class="row">
                <div class="col col50">
                    <button class="button button-block button-calm" ui-sref="recurring">
                        That's fine
                    </button>

                </div>
                <div class="col col50">
                    <button class="button button-block button-positive" ui-sref="report">
                       Stop this madness!
                    </button>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
