.spending {
  .amount {
    font-size: 48px;
  }
}

.recurring .hero {
  -webkit-transition: background-image 0.6s ease-in-out;
  transition: background-image 0.6s ease-in-out;

  .spinner {
    margin: 10px auto 10px auto;
    position: relative;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
  }
  .spinner svg {
    width: 64px;
    height: 64px;
  }
}
