.narwhals-logo {
  background-image: url(./../img/narwhals.png);
  background-size: contain;
  width: 154px;
  height: 228px;
}

.login {
  height: 100%;
  .item {
    .item {
      background-color: transparent !important;;
      border: none !important;;
    }

    .item-input {
      padding: 30px 0 0 !important;
    }
  }
}

.recurring {
  .spending-bar {
    background-color: $dark;
    color: $light;
    padding: 4px;
    text-align: center;
  }

  .hero {
    height: 180px !important;
    &.slide-up {
      height: 100%;
    }
  }

  // Bar containing input frequency
  .frequency-container {
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    // Input for frequency number
    .frequency-input {
      background-color: $lightGray;
      border-color: $light;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      padding: 4px;
    }

    // Invalid input
    .frequency-input.ng-invalid {
      background-color: $invalidInput;
    }
  }

  // Div containing interval radio options
  div.interval-container {
    margin: 16px;
    border-radius: 4px;
    border-style: solid;

    label {
      border-color: $light;
      border-radius: 3px;
      border-style: solid;
    }
  }

  a.calculate-button {
    margin: 14px;
    padding: 4px;
  }
}