.narwhals-logo {
  background-image: url(./../img/narwhals.png);
  background-size: contain;
  width: 154px;
  height: 228px;
}

.login {
  height: 100%;
  .item {
    .item {
      background-color: transparent !important;;
      border: none !important;;
    }

    .item-input {
      padding: 30px 0 0 !important;
    }
  }
}

.recurring {
  .spending-bar {
    background-color: $dark;
    color: $light;
    padding: 4px;
    text-align: center;
  }

  .hero {
    height: 180px !important;
    &.slide-up {
      height: 100%;
    }
  }
}